<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>数据双向绑定</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<div id="vue-app">
		<p>数据双向绑定，与input select textarea相关的</p>
		<p>input可以通过ref属性获取该input的value</p>
		<p>不是双向的，只能用户输入改变vue实例的属性值，不能反向</p>
		<label>姓名：</label><input type="text" ref='input_name' v-on:keyup='logName'><span>{{name}}</span>
		<label>年龄：</label><input type="text" ref='input_age' v-on:keyup='logAge'><span>{{age}}</span>
		<p>数据双向绑定指令：v-model</p>
		<label>姓名：</label><input type="text" v-model='name'><span>{{name}}</span>
		<label>年龄：</label><input type="text" v-model='age'><span>{{age}}</span>
	</div>
	<script src="app.js"></script>
</body>
</html>