<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-for in a <template></title>
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<div id="vue-app">
		<ul>
			<li v-for='user in users'>{{user.name}}--{{user.age}}</li>
		</ul>
		<ul>
			<li v-for='(user,index) in users'>[{{index+1}}]:{{user.name}}--{{user.age}}</li>
		</ul>
		<p>v-for in  a template</p>
		<ul>
			<template>
			<li v-for='user in users'>{{user.name}}--{{user.age}}</li>
			</template>
		</ul>
		<ul>
			<template>
				<li v-for='user in users'>
					<ul>
						<li v-for='(val,key) in user'>{{key}}--{{val}}</li>
					</ul>
				</li>
			</template>
		</ul>
	</div>
	<script src="app.js"></script>
</body>
</html>